@import './global.css';
@import './nav.css';

/*font-family: 'Holtwood One SC', serif;*/

#banner {
    position: relative;
    background-color: #FDF4E3;
    overflow: hidden;
    height: 500px;
    background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 1350 500' width='1350' height='500' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Crect x='0' y='0' width='1350' height='500' fill='%23FDF4E3'%3E%3C/rect%3E%3Cpath d='M0 360L18.8 347.2C37.7 334.3 75.3 308.7 112.8 296.3C150.3 284 187.7 285 225.2 292.2C262.7 299.3 300.3 312.7 337.8 320.3C375.3 328 412.7 330 450.2 335.5C487.7 341 525.3 350 562.8 351.5C600.3 353 637.7 347 675.2 338.7C712.7 330.3 750.3 319.7 787.8 305.7C825.3 291.7 862.7 274.3 900.2 275.5C937.7 276.7 975.3 296.3 1012.8 297.5C1050.3 298.7 1087.7 281.3 1125.2 280.2C1162.7 279 1200.3 294 1237.8 304C1275.3 314 1312.7 319 1331.3 321.5L1350 324L1350 501L1331.3 501C1312.7 501 1275.3 501 1237.8 501C1200.3 501 1162.7 501 1125.2 501C1087.7 501 1050.3 501 1012.8 501C975.3 501 937.7 501 900.2 501C862.7 501 825.3 501 787.8 501C750.3 501 712.7 501 675.2 501C637.7 501 600.3 501 562.8 501C525.3 501 487.7 501 450.2 501C412.7 501 375.3 501 337.8 501C300.3 501 262.7 501 225.2 501C187.7 501 150.3 501 112.8 501C75.3 501 37.7 501 18.8 501L0 501Z' fill='%23f7a15b'%3E%3C/path%3E%3Cpath d='M0 359L18.8 356.7C37.7 354.3 75.3 349.7 112.8 355.7C150.3 361.7 187.7 378.3 225.2 388.2C262.7 398 300.3 401 337.8 391.5C375.3 382 412.7 360 450.2 358.8C487.7 357.7 525.3 377.3 562.8 388C600.3 398.7 637.7 400.3 675.2 399.3C712.7 398.3 750.3 394.7 787.8 389.3C825.3 384 862.7 377 900.2 367.3C937.7 357.7 975.3 345.3 1012.8 337.7C1050.3 330 1087.7 327 1125.2 338C1162.7 349 1200.3 374 1237.8 376.2C1275.3 378.3 1312.7 357.7 1331.3 347.3L1350 337L1350 501L1331.3 501C1312.7 501 1275.3 501 1237.8 501C1200.3 501 1162.7 501 1125.2 501C1087.7 501 1050.3 501 1012.8 501C975.3 501 937.7 501 900.2 501C862.7 501 825.3 501 787.8 501C750.3 501 712.7 501 675.2 501C637.7 501 600.3 501 562.8 501C525.3 501 487.7 501 450.2 501C412.7 501 375.3 501 337.8 501C300.3 501 262.7 501 225.2 501C187.7 501 150.3 501 112.8 501C75.3 501 37.7 501 18.8 501L0 501Z' fill='%23fbb758'%3E%3C/path%3E%3Cpath d='M0 456L18.8 444.8C37.7 433.7 75.3 411.3 112.8 406.8C150.3 402.3 187.7 415.7 225.2 424.5C262.7 433.3 300.3 437.7 337.8 435.2C375.3 432.7 412.7 423.3 450.2 426.2C487.7 429 525.3 444 562.8 448.3C600.3 452.7 637.7 446.3 675.2 443.3C712.7 440.3 750.3 440.7 787.8 434.5C825.3 428.3 862.7 415.7 900.2 410.8C937.7 406 975.3 409 1012.8 415.8C1050.3 422.7 1087.7 433.3 1125.2 432.5C1162.7 431.7 1200.3 419.3 1237.8 412.3C1275.3 405.3 1312.7 403.7 1331.3 402.8L1350 402L1350 501L1331.3 501C1312.7 501 1275.3 501 1237.8 501C1200.3 501 1162.7 501 1125.2 501C1087.7 501 1050.3 501 1012.8 501C975.3 501 937.7 501 900.2 501C862.7 501 825.3 501 787.8 501C750.3 501 712.7 501 675.2 501C637.7 501 600.3 501 562.8 501C525.3 501 487.7 501 450.2 501C412.7 501 375.3 501 337.8 501C300.3 501 262.7 501 225.2 501C187.7 501 150.3 501 112.8 501C75.3 501 37.7 501 18.8 501L0 501Z' fill='%23facf5a'%3E%3C/path%3E%3C/svg%3E");
}

/*https://yoksel.github.io/url-encoder/  주황 #f7a15b 노랑 #FACF5A*/
/*https://app.haikei.app/*/

#banner p {
    font-family: 'Holtwood One SC', serif;
    font-size:100px;
    line-height: 80px;
    text-align: center;
    position: absolute;
    left:50%; top:50%; transform: translate(-50%, -50%);
    margin-top: 20px;
}

#banner img{
    width: 400px;
}

#banner .banner_image {
    display: flex;
    justify-content: space-around;
}



#banner span {
    position: absolute;
    font-weight: bold;
    font-size: 16px;
    color: #FDF4E3;
}

#banner .banner_host span:first-child { 
    left:40%; 
    top:90%; 
    transform: translate(-50%, -50%);
}

#banner .banner_host span:last-child {
    left:62%; 
    top:90%; 
    transform: translate(-50%, -50%);
}

#content { /*span인라인이라 쎈터 left로*/
    width: 750px;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    /*background-color: bisque;*/
}

#content > p {
    font-size: 18px;
    margin: 5px;
    font-family: 'Holtwood One SC', serif;
}

#content .sns {
    width: 400px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    /* background-color: palevioletred; */
}

#content .sns a img {
    /* background-color: #219F94; */
    width: 50px;
    height: 50px;
    margin-top: 15px;
    padding: 10px;
}

#onair {
    margin-top: 200px;
    text-align: center;
    /*background-color: rgb(244, 212, 248);*/
    padding-bottom: 100px;
}

#onair > p:first-child {
    margin: 0 auto;
    width: 300px;
    height: 50px;
    line-height: 50px;
    padding: 20px;
    border: 10px solid rgba(61, 61, 61, 0.979);
    background-color: rgb(255, 38, 0);
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Holtwood One SC', serif;
}

#onair .video {
    margin: 0 auto;
    /*background-color: brown;*/
    width: 700px;
    height: 415px;
    overflow: hidden;
    box-sizing: border-box; 
    text-align: center;
    position: relative;
}

#onair .video .prev, 
#onair .video .next {
    cursor: pointer; 
    position: absolute; 
    width: 30px;
    height: 30px; 
    border-radius: 50%;
    /*padding: 16px;*/
    color: #000;
    font-weight: bold; 
    font-size: 16px; 
    transition: 0.5s ease; 
    top: 55%;
    transform: translate(-50%, -50%);
    user-select: none;
    background-color: #219F94;

}

/*https://blog.naver.com/pis7pis7/222691305428*/
/*iframe:focus {outline: none;}
iframe[seamless] {display: block;}*/
/*https://cookie-script.com/blog/how-to-add-youtube-videos-without-cookies*/
#onair .video .prev { 
    left: 42px;
}

#onair .video .next {
    right: 15px; 
}

#onair .video .prev:hover, 
#onair .video .next:hover {
    color:#fff;
}

#onair .video .slider .ep {
    width: 600px;
    height: 375px;
    /*background-color: cadetblue;*/
    text-align: center;
    display: inline-block;
    margin: 20px;
}

#onair .video .slider .ep p {
    font-size: 20px;
    width: 600px;
    height: 40px;
    line-height: 40px;
   /* background-color: cornflowerblue;*/
    box-sizing: border-box;
}

#onair .video .slider .ep iframe {
    margin: 10px;
    /*background-color: blueviolet;*/
}
